.main-container .arhangel-new-first-custom-form {
  max-width: 750px;
  margin: 30px auto;
}
.main-container .arhangel-new-first-custom-form .name-validation-message, .email-validation-message, .phone-validation-message {
  color: red;
}
.main-container .custom-wrapper {
  max-width: 750px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 25px;
}
.main-container .flex-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container .flex-wrapper .users-name {
  text-align: center;
}
.main-container .flex-wrapper .users-contacts {
  text-align: center;
}
.main-container .edit-button {
  float: right;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
  color: black;
}
